*, ::before, ::after {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-border-opacity: 1;
  border-color: rgba(229, 231, 235, var(--tw-border-opacity));
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000
}

.tw-fixed {
  position: fixed !important
}

.tw-absolute {
  position: absolute !important
}

.tw-relative {
  position: relative !important
}

.tw-inset-0 {
  top: 0px !important;
  right: 0px !important;
  bottom: 0px !important;
  left: 0px !important
}

.tw--inset-0 {
  top: 0px !important;
  right: 0px !important;
  bottom: 0px !important;
  left: 0px !important
}

.tw-inset-y-0 {
  top: 0px !important;
  bottom: 0px !important
}

.tw-inset-x-0 {
  left: 0px !important;
  right: 0px !important
}

.tw-right-\[10px\] {
  right: 10px !important
}

.tw-top-\[75\%\] {
  top: 75% !important
}

.tw-left-\[13px\] {
  left: 13px !important
}

.tw-top-1\/2 {
  top: 50% !important
}

.tw-top-2 {
  top: 0.5rem !important
}

.tw-right-2 {
  right: 0.5rem !important
}

.tw-bottom-0 {
  bottom: 0px !important
}

.tw-right-full {
  right: 100% !important
}

.tw-left-full {
  left: 100% !important
}

.tw-top-10 {
  top: 2.5rem !important
}

.tw-top-full {
  top: 100% !important
}

.tw-left-10 {
  left: 2.5rem !important
}

.tw-bottom-full {
  bottom: 100% !important
}

.tw-left-1\/2 {
  left: 50% !important
}

.tw-top-0 {
  top: 0px !important
}

.tw-right-0 {
  right: 0px !important
}

.tw-right-1\/2 {
  right: 50% !important
}

.tw-z-\[999\] {
  z-index: 999 !important
}

.tw-z-\[998\] {
  z-index: 998 !important
}

.tw-mx-auto {
  margin-left: auto !important;
  margin-right: auto !important
}

.tw-my-0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important
}

.tw-mx-3 {
  margin-left: 0.75rem !important;
  margin-right: 0.75rem !important
}

.tw-my-4 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important
}

.tw-mx-2 {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important
}

.tw-my-10 {
  margin-top: 2.5rem !important;
  margin-bottom: 2.5rem !important
}

.tw-my-8 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important
}

.tw-my-3 {
  margin-top: 0.75rem !important;
  margin-bottom: 0.75rem !important
}

.tw-mx-10 {
  margin-left: 2.5rem !important;
  margin-right: 2.5rem !important
}

.tw-my-2 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important
}

.tw-mx-6 {
  margin-left: 1.5rem !important;
  margin-right: 1.5rem !important
}

.tw-mt-2 {
  margin-top: 0.5rem !important
}

.tw-mr-2 {
  margin-right: 0.5rem !important
}

.tw-mt-3 {
  margin-top: 0.75rem !important
}

.tw-mt-5 {
  margin-top: 1.25rem !important
}

.tw-mt-8 {
  margin-top: 2rem !important
}

.tw--mt-2 {
  margin-top: -0.5rem !important;
  margin-top: -0.5rem !important
}

.tw--mb-2 {
  margin-bottom: -0.5rem !important
}

.tw-mb-12 {
  margin-bottom: 3rem !important
}

.tw-inline-block {
  display: inline-block !important
}

.tw-flex {
  display: flex !important
}

.tw-inline-flex {
  display: inline-flex !important
}

.tw-hidden {
  display: none !important
}

.tw-h-\[50px\] {
  height: 50px !important
}

.tw-h-6 {
  height: 1.5rem !important
}

.tw-h-12 {
  height: 3rem !important
}

.tw-h-auto {
  height: auto !important
}

.tw-h-32 {
  height: 8rem !important
}

.tw-h-\[100px\] {
  height: 100px !important
}

.tw-h-full {
  height: 100% !important
}

.tw-h-\[750px\] {
  height: 750px !important
}

.tw-h-\[75px\] {
  height: 75px !important
}

.tw-h-screen {
  height: 100vh !important
}

.tw-h-20 {
  height: 5rem !important
}

.tw-h-\[70px\] {
  height: 70px !important
}

.tw-min-h-screen {
  min-height: 100vh !important
}

.tw-w-full {
  width: 100% !important
}

.tw-w-8\/12 {
  width: 66.666667% !important
}

.tw-w-4\/12 {
  width: 33.333333% !important
}

.tw-w-1\/4 {
  width: 25% !important
}

.tw-w-6 {
  width: 1.5rem !important
}

.tw-w-\[100px\] {
  width: 100px !important
}

.tw-w-\[50px\] {
  width: 50px !important
}

.tw-w-12 {
  width: 3rem !important
}

.tw-w-auto {
  width: auto !important
}

.tw-w-10\/12 {
  width: 83.333333% !important
}

.tw-w-3\/4 {
  width: 75% !important
}

.tw-w-\[80\%\] {
  width: 80% !important
}

.tw-w-2\/12 {
  width: 16.666667% !important
}

.tw-w-3\/12 {
  width: 25% !important
}

.tw-w-1\/12 {
  width: 8.333333% !important
}

.tw-w-6\/12 {
  width: 50% !important
}

.tw-w-5\/12 {
  width: 41.666667% !important
}

.tw-w-screen {
  width: 100vw !important
}

.tw-w-20 {
  width: 5rem !important
}

.tw-min-w-\[50px\] {
  min-width: 50px !important
}

.tw-flex-shrink-0 {
  flex-shrink: 0 !important
}

.tw-flex-grow {
  flex-grow: 1 !important
}

.tw-origin-left {
  transform-origin: left !important
}

.tw--translate-y-1\/2 {
  --tw-translate-y: -50% !important;
  transform: var(--tw-transform) !important
}

.tw-translate-x-full {
  --tw-translate-x: 100% !important;
  transform: var(--tw-transform) !important
}

.tw--translate-x-1\/2 {
  --tw-translate-x: -50% !important;
  transform: var(--tw-transform) !important
}

.tw-translate-y-full {
  --tw-translate-y: 100% !important;
  transform: var(--tw-transform) !important
}

.tw--translate-y-full {
  --tw-translate-y: -100% !important;
  transform: var(--tw-transform) !important
}

.tw-translate-y-1\/2 {
  --tw-translate-y: 50% !important;
  transform: var(--tw-transform) !important
}

.tw-transform {
  transform: var(--tw-transform) !important
}

.tw-cursor-pointer {
  cursor: pointer !important
}

.tw-flex-row {
  flex-direction: row !important
}

.tw-flex-col {
  flex-direction: column !important
}

.tw-items-start {
  align-items: flex-start !important
}

.tw-items-end {
  align-items: flex-end !important
}

.tw-items-center {
  align-items: center !important
}

.tw-items-stretch {
  align-items: stretch !important
}

.tw-justify-start {
  justify-content: flex-start !important
}

.tw-justify-end {
  justify-content: flex-end !important
}

.tw-justify-center {
  justify-content: center !important
}

.tw-justify-between {
  justify-content: space-between !important
}

.tw-gap-8 {
  gap: 2rem !important
}

.tw-gap-2 {
  gap: 0.5rem !important
}

.tw-gap-y-2 {
  row-gap: 0.5rem !important
}

.tw-gap-x-8 {
  -moz-column-gap: 2rem !important;
       column-gap: 2rem !important
}

.tw-gap-y-5 {
  row-gap: 1.25rem !important
}

.tw-gap-x-4 {
  -moz-column-gap: 1rem !important;
       column-gap: 1rem !important
}

.tw-gap-y-3 {
  row-gap: 0.75rem !important
}

.tw-gap-x-2 {
  -moz-column-gap: 0.5rem !important;
       column-gap: 0.5rem !important
}

.tw-gap-y-10 {
  row-gap: 2.5rem !important
}

.tw-gap-y-4 {
  row-gap: 1rem !important
}

.tw-overflow-hidden {
  overflow: hidden !important
}

.tw-overflow-y-auto {
  overflow-y: auto !important
}

.tw-overflow-x-hidden {
  overflow-x: hidden !important
}

.tw-rounded-lg {
  border-radius: 0.5rem !important
}

.tw-rounded-full {
  border-radius: 9999px !important
}

.tw-rounded-md {
  border-radius: 0.375rem !important
}

.tw-rounded {
  border-radius: 0.25rem !important
}

.tw-rounded-l-lg {
  border-top-left-radius: 0.5rem !important;
  border-bottom-left-radius: 0.5rem !important
}

.tw-rounded-r-none {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important
}

.tw-rounded-r-lg {
  border-top-right-radius: 0.5rem !important;
  border-bottom-right-radius: 0.5rem !important
}

.tw-rounded-l-none {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important
}

.tw-rounded-r-md {
  border-top-right-radius: 0.375rem !important;
  border-bottom-right-radius: 0.375rem !important
}

.tw-rounded-t-md {
  border-top-left-radius: 0.375rem !important;
  border-top-right-radius: 0.375rem !important
}

.tw-border-0 {
  border-width: 0px !important
}

.tw-border {
  border-width: 1px !important
}

.tw-border-b {
  border-bottom-width: 1px !important
}

.tw-border-transparent {
  border-color: transparent !important
}

.tw-border-gray-200 {
  --tw-border-opacity: 1 !important;
  border-color: rgba(229, 231, 235, var(--tw-border-opacity)) !important
}

.tw-border-gray-300 {
  --tw-border-opacity: 1 !important;
  border-color: rgba(209, 213, 219, var(--tw-border-opacity)) !important
}

.tw-bg-green-500 {
  --tw-bg-opacity: 1 !important;
  background-color: rgba(16, 185, 129, var(--tw-bg-opacity)) !important
}

.tw-bg-red-500 {
  --tw-bg-opacity: 1 !important;
  background-color: rgba(239, 68, 68, var(--tw-bg-opacity)) !important
}

.tw-bg-gray-100 {
  --tw-bg-opacity: 1 !important;
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity)) !important
}

.tw-bg-purple-600 {
  --tw-bg-opacity: 1 !important;
  background-color: rgba(124, 58, 237, var(--tw-bg-opacity)) !important
}

.tw-bg-red-600 {
  --tw-bg-opacity: 1 !important;
  background-color: rgba(220, 38, 38, var(--tw-bg-opacity)) !important
}

.tw-bg-blue-600 {
  --tw-bg-opacity: 1 !important;
  background-color: rgba(37, 99, 235, var(--tw-bg-opacity)) !important
}

.tw-bg-gray-500 {
  --tw-bg-opacity: 1 !important;
  background-color: rgba(107, 114, 128, var(--tw-bg-opacity)) !important
}

.tw-bg-white {
  --tw-bg-opacity: 1 !important;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity)) !important
}

.tw-bg-gray-50 {
  --tw-bg-opacity: 1 !important;
  background-color: rgba(249, 250, 251, var(--tw-bg-opacity)) !important
}

.tw-bg-green-600 {
  --tw-bg-opacity: 1 !important;
  background-color: rgba(5, 150, 105, var(--tw-bg-opacity)) !important
}

.tw-bg-transparent {
  background-color: transparent !important
}

.tw-bg-\[\#fed330\] {
  --tw-bg-opacity: 1 !important;
  background-color: rgba(254, 211, 48, var(--tw-bg-opacity)) !important
}

.tw-bg-blue-400 {
  --tw-bg-opacity: 1 !important;
  background-color: rgba(96, 165, 250, var(--tw-bg-opacity)) !important
}

.tw-bg-gray-200 {
  --tw-bg-opacity: 1 !important;
  background-color: rgba(229, 231, 235, var(--tw-bg-opacity)) !important
}

.tw-bg-\[\#ffd32a\] {
  --tw-bg-opacity: 1 !important;
  background-color: rgba(255, 211, 42, var(--tw-bg-opacity)) !important
}

.tw-bg-gray-800 {
  --tw-bg-opacity: 1 !important;
  background-color: rgba(31, 41, 55, var(--tw-bg-opacity)) !important
}

.tw-bg-gray-800\/20 {
  background-color: rgba(31, 41, 55, 0.2) !important
}

.tw-bg-gray-800\/30 {
  background-color: rgba(31, 41, 55, 0.3) !important
}

.tw-bg-white\/20 {
  background-color: rgba(255, 255, 255, 0.2) !important
}

.tw-bg-white\/30 {
  background-color: rgba(255, 255, 255, 0.3) !important
}

.tw-bg-white\/60 {
  background-color: rgba(255, 255, 255, 0.6) !important
}

.tw-bg-gray-700\/60 {
  background-color: rgba(55, 65, 81, 0.6) !important
}

.tw-bg-gray-800\/60 {
  background-color: rgba(31, 41, 55, 0.6) !important
}

.tw-bg-gray-800\/50 {
  background-color: rgba(31, 41, 55, 0.5) !important
}

.tw-bg-opacity-75 {
  --tw-bg-opacity: 0.75 !important
}

.tw-object-cover {
  -o-object-fit: cover !important;
     object-fit: cover !important
}

.tw-p-4 {
  padding: 1rem !important
}

.tw-px-8 {
  padding-left: 2rem !important;
  padding-right: 2rem !important
}

.tw-py-5 {
  padding-top: 1.25rem !important;
  padding-bottom: 1.25rem !important
}

.tw-px-4 {
  padding-left: 1rem !important;
  padding-right: 1rem !important
}

.tw-py-3 {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important
}

.tw-py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important
}

.tw-px-5 {
  padding-left: 1.25rem !important;
  padding-right: 1.25rem !important
}

.tw-py-2\.5 {
  padding-top: 0.625rem !important;
  padding-bottom: 0.625rem !important
}

.tw-py-8 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important
}

.tw-px-3 {
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important
}

.tw-py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important
}

.tw-py-6 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important
}

.tw-px-1\.5 {
  padding-left: 0.375rem !important;
  padding-right: 0.375rem !important
}

.tw-px-1 {
  padding-left: 0.25rem !important;
  padding-right: 0.25rem !important
}

.tw-px-10 {
  padding-left: 2.5rem !important;
  padding-right: 2.5rem !important
}

.tw-py-1\.5 {
  padding-top: 0.375rem !important;
  padding-bottom: 0.375rem !important
}

.tw-pt-4 {
  padding-top: 1rem !important
}

.tw-pb-20 {
  padding-bottom: 5rem !important
}

.tw-pt-5 {
  padding-top: 1.25rem !important
}

.tw-pb-4 {
  padding-bottom: 1rem !important
}

.tw-pb-\[15\%\] {
  padding-bottom: 15% !important
}

.tw-text-left {
  text-align: left !important
}

.tw-text-center {
  text-align: center !important
}

.tw-align-bottom {
  vertical-align: bottom !important
}

.tw-text-xl {
  font-size: 1.25rem !important;
  line-height: 1.75rem !important
}

.tw-text-2xl {
  font-size: 1.5rem !important;
  line-height: 2rem !important
}

.tw-text-xs {
  font-size: 0.75rem !important;
  line-height: 1rem !important
}

.tw-text-lg {
  font-size: 1.125rem !important;
  line-height: 1.75rem !important
}

.tw-text-base {
  font-size: 1rem !important;
  line-height: 1.5rem !important
}

.tw-text-sm {
  font-size: 0.875rem !important;
  line-height: 1.25rem !important
}

.tw-font-bold {
  font-weight: 700 !important
}

.tw-font-semibold {
  font-weight: 600 !important
}

.tw-font-medium {
  font-weight: 500 !important
}

.tw-font-normal {
  font-weight: 400 !important
}

.tw-italic {
  font-style: italic !important
}

.tw-leading-6 {
  line-height: 1.5rem !important
}

.tw-text-white {
  --tw-text-opacity: 1 !important;
  color: rgba(255, 255, 255, var(--tw-text-opacity)) !important
}

.tw-text-gray-700 {
  --tw-text-opacity: 1 !important;
  color: rgba(55, 65, 81, var(--tw-text-opacity)) !important
}

.tw-text-gray-600 {
  --tw-text-opacity: 1 !important;
  color: rgba(75, 85, 99, var(--tw-text-opacity)) !important
}

.tw-text-gray-500 {
  --tw-text-opacity: 1 !important;
  color: rgba(107, 114, 128, var(--tw-text-opacity)) !important
}

.tw-text-green-500 {
  --tw-text-opacity: 1 !important;
  color: rgba(16, 185, 129, var(--tw-text-opacity)) !important
}

.tw-text-red-500 {
  --tw-text-opacity: 1 !important;
  color: rgba(239, 68, 68, var(--tw-text-opacity)) !important
}

.tw-text-red-400 {
  --tw-text-opacity: 1 !important;
  color: rgba(248, 113, 113, var(--tw-text-opacity)) !important
}

.tw-text-opacity-50 {
  --tw-text-opacity: 0.5 !important
}

.tw-placeholder-gray-600::-moz-placeholder {
  --tw-placeholder-opacity: 1 !important;
  color: rgba(75, 85, 99, var(--tw-placeholder-opacity)) !important
}

.tw-placeholder-gray-600:-ms-input-placeholder {
  --tw-placeholder-opacity: 1 !important;
  color: rgba(75, 85, 99, var(--tw-placeholder-opacity)) !important
}

.tw-placeholder-gray-600::placeholder {
  --tw-placeholder-opacity: 1 !important;
  color: rgba(75, 85, 99, var(--tw-placeholder-opacity)) !important
}

.tw-opacity-0 {
  opacity: 0 !important
}

.tw-opacity-100 {
  opacity: 1 !important
}

.tw-shadow-xl {
  --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04) !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important
}

.tw-shadow-sm {
  --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05) !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important
}

.tw-shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important
}

.tw-shadow {
  --tw-shadow: 0 0 20px rgb(0 0 0 / 12%) !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important
}

.tw-transition-all {
  transition-property: all !important;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  transition-duration: 150ms !important
}

.tw-transition-opacity {
  transition-property: opacity !important;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  transition-duration: 150ms !important
}

.tw-transition {
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter !important;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter !important;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter !important;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  transition-duration: 150ms !important
}

.tw-duration-300 {
  transition-duration: 300ms !important
}

.tw-duration-500 {
  transition-duration: 500ms !important
}

.tw-ease-out {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1) !important
}

.hover\:tw-bg-green-700:hover {
  --tw-bg-opacity: 1 !important;
  background-color: rgba(4, 120, 87, var(--tw-bg-opacity)) !important
}

.hover\:tw-bg-gray-50:hover {
  --tw-bg-opacity: 1 !important;
  background-color: rgba(249, 250, 251, var(--tw-bg-opacity)) !important
}

.hover\:tw-bg-\[\#f7b731\]:hover {
  --tw-bg-opacity: 1 !important;
  background-color: rgba(247, 183, 49, var(--tw-bg-opacity)) !important
}

.hover\:tw-bg-\[\#ffd32a\]:hover {
  --tw-bg-opacity: 1 !important;
  background-color: rgba(255, 211, 42, var(--tw-bg-opacity)) !important
}

.hover\:tw-bg-\[\#f9ca24\]:hover {
  --tw-bg-opacity: 1 !important;
  background-color: rgba(249, 202, 36, var(--tw-bg-opacity)) !important
}

.hover\:tw-bg-\[\#e8b90e\]:hover {
  --tw-bg-opacity: 1 !important;
  background-color: rgba(232, 185, 14, var(--tw-bg-opacity)) !important
}

.hover\:tw-bg-\[\#fcc80a\]:hover {
  --tw-bg-opacity: 1 !important;
  background-color: rgba(252, 200, 10, var(--tw-bg-opacity)) !important
}

.hover\:tw-bg-\[\#ffc800\]:hover {
  --tw-bg-opacity: 1 !important;
  background-color: rgba(255, 200, 0, var(--tw-bg-opacity)) !important
}

.focus\:tw-outline-none:focus {
  outline: 2px solid transparent !important;
  outline-offset: 2px !important
}

.focus\:tw-ring-2:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color) !important;
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color) !important;
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000) !important
}

.focus\:tw-ring-red-500:focus {
  --tw-ring-opacity: 1 !important;
  --tw-ring-color: rgba(239, 68, 68, var(--tw-ring-opacity)) !important
}

.focus\:tw-ring-indigo-500:focus {
  --tw-ring-opacity: 1 !important;
  --tw-ring-color: rgba(99, 102, 241, var(--tw-ring-opacity)) !important
}

.focus\:tw-ring-offset-2:focus {
  --tw-ring-offset-width: 2px !important
}

@media (min-width: 640px) {
  .sm\:tw-mx-0 {
    margin-left: 0px !important;
    margin-right: 0px !important
  }

  .sm\:tw-mt-2 {
    margin-top: 0.5rem !important
  }

  .sm\:tw-ml-3 {
    margin-left: 0.75rem !important
  }

  .sm\:tw-mt-0 {
    margin-top: 0px !important
  }

  .sm\:tw-block {
    display: block !important
  }

  .sm\:tw-inline-block {
    display: inline-block !important
  }

  .sm\:tw-flex {
    display: flex !important
  }

  .sm\:tw-h-screen {
    height: 100vh !important
  }

  .sm\:tw-w-full {
    width: 100% !important
  }

  .sm\:tw-w-auto {
    width: auto !important
  }

  .sm\:tw-max-w-lg {
    max-width: 32rem !important
  }

  .sm\:tw-flex-row-reverse {
    flex-direction: row-reverse !important
  }

  .sm\:tw-p-0 {
    padding: 0px !important
  }

  .sm\:tw-p-6 {
    padding: 1.5rem !important
  }

  .sm\:tw-px-6 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important
  }

  .sm\:tw-pb-4 {
    padding-bottom: 1rem !important
  }

  .sm\:tw-align-middle {
    vertical-align: middle !important
  }

  .sm\:tw-text-sm {
    font-size: 0.875rem !important;
    line-height: 1.25rem !important
  }
}

@media (min-width: 768px) {
  .md\:tw-inset-y-0 {
    top: 0px !important;
    bottom: 0px !important
  }

  .md\:tw-left-full {
    left: 100% !important
  }

  .md\:tw-top-10 {
    top: 2.5rem !important
  }

  .md\:tw-top-auto {
    top: auto !important
  }

  .md\:tw-left-auto {
    left: auto !important
  }

  .md\:tw-bottom-auto {
    bottom: auto !important
  }

  .md\:tw-top-1\/2 {
    top: 50% !important
  }

  .md\:tw-right-full {
    right: 100% !important
  }

  .md\:tw-mx-3 {
    margin-left: 0.75rem !important;
    margin-right: 0.75rem !important
  }

  .md\:tw-my-0 {
    margin-top: 0px !important;
    margin-bottom: 0px !important
  }

  .md\:tw-mx-0 {
    margin-left: 0px !important;
    margin-right: 0px !important
  }

  .md\:tw-my-10 {
    margin-top: 2.5rem !important;
    margin-bottom: 2.5rem !important
  }

  .md\:tw-mx-2 {
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important
  }

  .md\:tw-my-6 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important
  }

  .md\:tw--mb-2 {
    margin-bottom: -0.5rem !important
  }

  .md\:tw-mb-0 {
    margin-bottom: 0px !important
  }

  .md\:tw-h-\[85vh\] {
    height: 85vh !important
  }

  .md\:tw-h-40 {
    height: 10rem !important
  }

  .md\:tw-h-auto {
    height: auto !important
  }

  .md\:tw-w-auto {
    width: auto !important
  }

  .md\:tw-w-\[40\%\] {
    width: 40% !important
  }

  .md\:tw-w-\[100px\] {
    width: 100px !important
  }

  .md\:tw-w-full {
    width: 100% !important
  }

  .md\:tw--translate-y-1\/2 {
    --tw-translate-y: -50% !important;
    transform: var(--tw-transform) !important
  }

  .md\:tw--translate-x-0 {
    --tw-translate-x: 0px !important;
    transform: var(--tw-transform) !important
  }

  .md\:tw-translate-x-0 {
    --tw-translate-x: 0px !important;
    transform: var(--tw-transform) !important
  }

  .md\:tw-translate-x-full {
    --tw-translate-x: 100% !important;
    transform: var(--tw-transform) !important
  }

  @media (min-width: 768px) {
    .md\:md\:tw-translate-x-full {
      --tw-translate-x: 100% !important;
      transform: var(--tw-transform) !important
    }
  }

  .md\:tw-translate-y-0 {
    --tw-translate-y: 0px !important;
    transform: var(--tw-transform) !important
  }

  .md\:tw-flex-col {
    flex-direction: column !important
  }

  .md\:tw-rounded {
    border-radius: 0.25rem !important
  }

  .md\:tw-rounded-r-md {
    border-top-right-radius: 0.375rem !important;
    border-bottom-right-radius: 0.375rem !important
  }

  .md\:tw-rounded-l-none {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important
  }

  .md\:tw-px-6 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important
  }

  .md\:tw-py-3 {
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important
  }

  .md\:tw-px-5 {
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important
  }

  .md\:tw-py-1\.5 {
    padding-top: 0.375rem !important;
    padding-bottom: 0.375rem !important
  }

  .md\:tw-py-1 {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important
  }

  .md\:tw-px-3 {
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important
  }

  .md\:tw-py-10 {
    padding-top: 2.5rem !important;
    padding-bottom: 2.5rem !important
  }

  .md\:tw-py-5 {
    padding-top: 1.25rem !important;
    padding-bottom: 1.25rem !important
  }
}

@media (min-width: 1024px) {
  .lg\:tw-w-\[25\%\] {
    width: 25% !important
  }

  .lg\:tw-flex-row {
    flex-direction: row !important
  }
}